*{
margin: 0;
padding: 0;
}
.container{
  text-align: center;
  padding-top: 100px;
}
.quantity_plus{
  border: black 1px solid;
padding:0 10px 0 10px;
background-color: green;
margin: 5px;
cursor: pointer;
}
.quantity_minus{
  margin: 5px;
  border: black 1px solid;
  padding:0 10px 0 10px;
  cursor: pointer;
  background-color: red;
  }